.parent {
    width: 600px;
    padding: 20px;
    display: flex;
}
.child--first {
flex: 1 30%;
justify-content: space-between;
}
.child--middle {
flex: 1 30%;
justify-content: space-between;
}
 .child--last {
flex: 1 40%;
justify-content: space-between;
}
        