.parent {
    width: 600px;
    padding: 20px;
    display: flex;
}
.child--first {
flex: 1 30%;
}
.child--middle {
flex: 1 30%;
}
 .child--last {
flex: 1 40%;
}
.child--first + .child--middle,
.child--middle + .child--last {
margin-right: 10px;
}