:root {
    --color-container: #B5D5C5;
    --color-nav: #F5F5DC;
    --color-beta-container: #B08BBB;
    --color-footer: #ECA869;
}
.row, .cell, .container {
    margin: 5px;
    padding: 5px;
}
.container {
    margin: 0 auto;
    max-width: 1200px;
    background:var(--color-container);
}
.cell {
    min-height: 50px;
}
