:root {
    --color-menu-item-hover: #009AE1;
    --bg-color-dropdown-item: #333333;
    --color-dropdown: #B2B2B2;
    --color-dropdown-active: #D4F1FB;
}

body {
    background-color: lightgray;
}

.menu {
    background-color: #F6F6F6;
    display: flex;
    margin: 20px;
}

.menu__item {
    padding: 30px 60px;
    border-top: 5px solid transparent;

}

.menu__item:hover {
    border-top-color: var(--color-menu-item-hover);
}

.menu__link {
    color: #444;
}

.menu__link,
.dropdown__link,
.dropdown-submenu__link {
    text-decoration: none;
}

.menu__dropdown {
    position: relative;
}

.menu__dropdown::after {
    content: ">";
    position: absolute;
    right: 1px;
    top: 25px;
    transform: rotate(90deg);
}

.menu__dropdown:hover>.dropdown {
    display: block;
}

.dropdown {
    position: absolute;
    background-color: var(--bg-color-dropdown-item);
    top: 100%;
    left: 0;
    min-width: 240px;
    display: none;
}

.dropdown__item {
    padding: 10px 20px;
}

.dropdown__link,
.dropdown-submenu__link {
    color: var(--color-dropdown);
}

.menu__dropdown-submenu {
    position: relative;
}

.menu__dropdown-submenu::after {
    content: ">";
    position: absolute;
    right: 0.3px;
    top: 10px;
    color: var(--color-dropdown-active);
}

.menu__dropdown-submenu:hover>.dropdown-submenu {
    display: block;
}

.dropdown-submenu {
    position: absolute;
    background-color: var(--bg-color-dropdown-item);
    top: 0;
    left: 100%;
    min-width: 240px;
    display: none;
}

.dropdown-submenu__item {
    padding: 10px 20px;
}